* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.App {
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
}
